.hero {
  display: flex;
  justify-content: center;
}
.img {
    width: 600px;
    opacity: 1;
    animation-name: opacity;
    animation-duration: 8000ms;
}


.text {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: #0F172A;
    text-shadow: 2px 2px 20px #457CF7, 5px 5px 5px #375ABE;
    animation-name: shadow;
    animation-duration: 8000ms;

}



@keyframes opacity {
    0% {
      opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
  
    100% {
      opacity: 1;
    }
} 

@keyframes shadow {
    0% {
        text-shadow: 2px 2px 20px #457CF7, 5px 5px 5px #375ABE;
    }
  
    100% {
        text-shadow: 2px 2px 20px #848689, 5px 5px 5px #0F172A;
    }
} 