.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
  }
  
  .Modal {
  
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
   
  }

  .conteiner {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100vw - 40px);
    height: calc(100vh - 20px);
    border-radius: 10px;
    background-color: #fff;
  }
.dataConteiner {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.discriptionConteiner {
    margin-left: 20px;
}

.discriptionEl {
    display: flex;
    font-size: 14px;
}
.discriptionElAbout {
    font-size: 14px;
}

.discriptionElTitle {
    margin-right: 5px;
    font-weight: 700;
   
}

.img {
    width: 640px;
    height: 497px;
    border-radius: 10px;
}


  .button {
    position: absolute;
    right: 28px;
    bottom: 20px;
    border: 0;
    border-radius: 5px;
    padding: 7px;
    background-color: #457CF7;
    color: white;
    font-size: 20px;
    text-align: center;
  }

  .button:hover, .button:focus {
    background-color:  #375ABE;
    color: white;
}

